html,
body {
  background-color: blanchedalmond;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}


.movie img {
  max-width: 100%;
  max-height: 450px;
  border-radius: 4px;
}

.movieTitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}



/* .movieContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.movieWrapper{
  width: 500px;
  background-color: rgb(224, 29, 61);
  color: black;
} */
/* .movieSearch{
  height: 60px;
  font-size: 24px;
  margin-bottom: 45px;
  width: 500px;
} */


.movie{
  width: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  background-color: rgb(186, 158, 121);
 }
 .movie-search-result-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 }
 .movie-overview{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  max-width: 100%;
  background-color: black;
  color: white;

 }

 .movie:hover .movie-overview{
  transform: translateY(-100px);
 }
 .wm{
  margin-left: 100px;
  font-size: 25px;
  margin-bottom: 15px;
 }
 